<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/loginFormStyles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="cont">
      <h1 class="head">Login</h1>
      <form action="/login" method="POST" class="loginForm">
        <label class="label" for="username">Username</label>
        <input
          class="input"
          type="text"
          name="username"
          id="loginusername"
          required
        />
        <p class="errMsg" id="loginusernameErrMsg"></p>

        <label class="label" for="password">Password</label>
        <div class="input passCont">
          <input
            class="passInput"
            type="password"
            name="password"
            id="loginpasswordInput"
            required
          />
          <i class="fa-regular fa-eye eyeIcon" id="logineyeIcon"></i>
        </div>
        <p class="errMsg" id="loginpasswordErrMsg"></p>

        <% if (error && error.length > 0) { %>
        <p class="serverErrorMsg"><%= error[0] %></p>
        <% } %>

        <button type="submit" class="loginBtn">Login</button>

        <p class="signupText">
          Don't have an account?<a href="/signup"> Sign Up</a>
        </p>
      </form>
    </div>

    <script src="/js/loginForm.js"></script>
  </body>
</html>
