* {
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "MelonFruits";
  src: url("/assets/fonts/Melon Fruit.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --navBar-color: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 0%);
  --btn-color: hsl(0, 0%, 10%);
  --text-color1: hsl(0, 0%, 95%);
  --text-color2: hsl(0, 0%, 70%);
  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 60%);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight2: hsl(330 0% 39%);
  --border2: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --primary: hsl(0 66% 75%);
  --secondary: hsl(183 52% 57%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  /* --font-family: "sans-serif"; */
}

.navBar {
  display: flex;
  background-color: var(--navBar-color);
  padding: 1em 0em;
  position: fixed;
  width: 100vw;
}

.signupBtn {
  margin-left: auto;
  background-color: var(--btn-color);
  padding: 0.8em 1.2em;
  margin-right: 1em;
  border-radius: 0.5em;
  font-family: var(--font-family);
  font-size: 0.8em;
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  box-shadow: var(--shadow);
  font-weight: bold;
}

.signupBtn a {
  text-decoration: none;
  color: var(--text);
}

.signupBtn:hover {
  border-top: 1px solid var(--highlight2);
  background-color: var(--bg-light);
}

.loginBtn {
  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--btn-color);
  padding: 0.8em 1.2em;
  margin-right: 0.5em;
  border-radius: 0.5em;
  font-family: var(--font-family);
  font-size: 0.8em;
  border-top: 1px solid var(--highlight);
  font-weight: bold;
}

.loginBtn a {
  text-decoration: none;
  color: var(--text);
}

.loginBtn:hover {
  border-top: 1px solid var(--highlight2);
  background-color: var(--bg-light);
}

.profileCont {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  font-family: var(--font-family);
}

.profileIconCont {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  color: var(--background-color);
  font-size: 1em;
}

.userName {
  margin-left: 0.8em;
  font-size: 0.8em;
  color: var(--text);
}

.logoutBtnCont {
  margin-left: auto;
}

.logoutBtn {
  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--btn-color);
  padding: 0.8em 1.2em;
  margin-right: 0.5em;
  border-radius: 0.5em;
  font-family: var(--font-family);
  font-size: 0.8em;
  border-top: 1px solid var(--highlight);
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}

.logoutBtn:hover {
  border-top: 1px solid var(--highlight2);
  background-color: var(--bg-light);
}

/* join now styles */

.joinNowCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--gradient);
  border: solid 1px var(--border-muted);
  margin-bottom: 1em;
  margin-top: 1.5em;
  width: 300px;
  min-height: 180px;
  aspect-ratio: 2/1;
  border-top: solid 1px var(--highlight);
  border-radius: 1em;
  overflow: hidden;
  padding-bottom: 0.5em;
  font-family: var(--font-family);
}

.joinHead {
  color: var(--text-color1);
  text-align: center;
  margin-top: 0.5em;
}

.joinBtn {
  color: var(--bg-dark);
  border: 1px solid var(--border);
  background-color: var(--text-color1);
  padding: 0.8em 1.2em;
  margin-right: 0.5em;
  border-radius: 0.5em;
  font-family: var(--font-family);
  font-size: 0.8em;
  border-top: 1px solid var(--highlight);
  font-weight: bold;
  margin-top: 2em;
  cursor: pointer;
}

.joinNowCont:hover {
  background-image: var(--gradient-hover);
}

/* msg container styles */

.msgCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  padding-top: 5em;
}

.msgCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--gradient);
  border: solid 1px var(--border-muted);
  margin-bottom: 1em;
  margin-top: 1.5em;
  width: 250px;
  min-height: 170px;
  aspect-ratio: 2/1;
  border-top: solid 1px var(--highlight);
  border-radius: 1em;
  overflow: hidden;
  padding-bottom: 0.5em;
}

.msgCard:hover {
  background-image: var(--gradient-hover);
}

.anonymousUserCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7em;
  width: 100%;
  font-family: var(--font-family);
}

.anonymousUserImg {
  color: var(--text-color2);
  margin-right: auto;
  font-size: 30px;
  margin-left: 0.3em;
}

.anonymousUserName {
  color: var(--text-color1);
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.anonymousUserMsg {
  color: var(--text-color2);
  text-align: center;
  margin-top: 1em;
  font-family: var(--font-family);
  padding: 0.5em;
  font-size: 0.9em;
  overflow-y: auto;
}

.loggedInUserCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7em;
  width: 100%;
  font-family: var(--font-family);
}

.loggedInUserIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg-dark);
  border: solid 1px var(--border);
  box-shadow: var(--shadow);
  color: var(--text-color2);
  margin-right: auto;
  margin-left: 0.5em;
}

.loggedInUserNameIcon {
}

.loggedInUserName {
  color: var(--text-color1);
  width: 100%;
  padding-left: 0.5em;
}

.postedDateTime {
  color: var(--text-muted);
  font-family: var(--font-family);
  margin-left: auto;
  margin-right: 1em;
  font-size: 0.7em;
  padding-top: 0.7em;
  margin-top: auto;
}

@media (min-width: 678px) {
  .profileIconCont {
    width: 40px;
    height: 40px;
  }

  .userIcon {
    color: var(--background-color);
    font-size: 1.5em;
  }

  .userName {
    color: var(--text);
    font-size: 1.2em;
  }

  .msgCard {
    width: 400px;
    min-height: 220px;
  }

  .anonymousUserMsg {
    justify-self: center;
    height: 100%;
    width: 100%;
    padding-top: 2em;
    font-size: 1.2em;
    padding-bottom: 0.5em;
  }

  .joinNowCont {
    width: 500px;
    height: 150px;
  }

  .joinHead {
    margin-top: 1.2em;
  }
}
