* {
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --navBar-color: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 0%);
  --btn-color: hsl(0, 0%, 10%);
  --text-color1: hsl(0, 0%, 95%);
  --text-color2: hsl(0, 0%, 70%);
  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 60%);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight2: hsl(330 0% 39%);
  --border2: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(0 66% 75%);
  --secondary: hsl(183 52% 57%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  /* --font-family: "sans-serif"; */
}

.head {
  color: var(--text);
  margin-bottom: 1em;
  font-family: var(--font-family);
}

.cont {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
}

.signupForm {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border: solid 1px var(--border2);
  border-top: solid 1px var(--highlight);
  width: 250px;
  aspect-ratio: 2/3;
  max-height: 650px;
  border-radius: 1em;
  font-family: var(--font-family);
  padding: 0em 0.5em 1em 0.5em;
}

.signupForm:hover {
  border-top: solid 1px var(--highlight2);
}

.label {
  color: var(--text);
  margin-top: 1em;
}

.input {
  background-color: var(--bg-light);
  border: solid 1px var(--border2);
  border-top: solid 1px var(--highlight);
  outline: none;
  padding: 0.5em 0.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  color: var(--text-muted);

}

.input:hover {
  border-top: solid 1px var(--highlight2); 
}

.passCont{
    display: flex;
    align-items: center;
}

.passInput {
  background-color:transparent;
  width: 90%;
  border: none;
  outline: none;
  color: var(--text-muted);
}

.eyeIcon {
  font-size: 12px;
  color: var(--bg-dark);
  cursor: pointer;
  margin-left:auto;

}
.eyeIcon2 {
  font-size: 12px;
  color: var(--bg-dark);
  cursor: pointer;
  margin-left:auto;
 
}

.signupBtn {
  background-color: var(--bg-light);
  border: solid 1px var(--border2);
  border-top: solid 1px var(--highlight);
  margin-top: 2em;
  border-radius: 1em;
  padding: 0.5em 0.5em;
  color: var(--text-color1);
  font-family: (--font-family);
  cursor: pointer;
}

.signupBtn:hover {
  border-top: solid 1px var(--highlight2);
}

.loginText {
  font-family: var(--font-family);
  color: var(--text-muted);
  margin-top: 0.8em;
  font-size: 0.7em;
  text-align: center;
}

.loginText a {
  color: var(--info);
  text-decoration: none;
}

@media (min-width: 600px) {
  .signupForm {
    width: 300px;
    height:420px;
}

.signupBtn{
    margin-top:3em;
}
}
